.container {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
}

.card {
  composes: background from '../../utils/utils.module.css';
  width: min(600px, 60%);
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  overflow: auto;
}
.answer {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

.question {
  text-align: center;
  font-weight: 800;
  margin-bottom: var(--margin);
}

.explanation {
  font-size: 0.8rem;
}

.roundButton {
  background: var(--calcite-ui-brand-hover);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 0;
  color: var(--calcite-ui-text-1);
  font-size: var(--calcite-font-size--1);
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .labelContainer {
    display: none;
  }
  .card {
    width: min(600px, 90%);
  }
}
