.container {
  position: absolute;
  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
}

.card {
  composes: background from '../../utils/utils.module.css';
  width: min(600px, 60%);
  margin: 0 auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
}
.card p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin);
}

.menuButton {
  composes: background from '../../utils/utils.module.css';
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--padding);
  color: var(--calcite-ui-text-1);
  font-size: var(--calcite-font-size--1);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.noPointerEvents {
  pointer-events: none;
}

@media (max-width: 700px) {
  .leftActionsContainer {
    justify-content: space-between;
  }
  .labelContainer {
    display: none;
  }
}
