@import 'https://js.arcgis.com/4.27/@arcgis/core/assets/esri/themes/dark/main.css';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap');

.calcite-mode-light,
:root {
  --calcite-ui-brand: rgb(237, 42, 130);
  --calcite-ui-brand-hover: rgb(247, 144, 191);
  --calcite-ui-component-radio-border-checked: rgb(237, 42, 130);
  --border-radius: 5px;
  --border: 2px solid var(--calcite-ui-brand);
  --box-shadow: 0 4px 0 var(--calcite-ui-brand);
  --margin: 15px;
  --padding: 15px;
  --background-color: rgb(255, 243, 248);
  --calcite-font-size--1: 1.1rem;
  --calcite-ui-text-1: rgb(50, 50, 50);
  --calcite-ui-text-2: rgb(75, 75, 75);
  --calcite-ui-text-3: rgb(100, 100, 100);
  --calcite-label-margin-bottom: 6px;
  --calcite-sans-family: 'Dosis', sans-serif;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--calcite-sans-family);
  letter-spacing: 1px;
  font-size: var(--calcite-font-size--1);
  color: var(--calcite-ui-text-1);
  background: #000;
}

a {
  color: var(--calcite-ui-text-3);
  text-decoration: none;
}

a:hover {
  color: var(--calcite-ui-text-1);
}

p {
  margin: 0;
  padding: 0;
}

/* remove outline from map */
/* .esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
} */

/* scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
